<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.session.mapper.BookingMapper">

<!-- 닥터 대쉬보드 메인 페이지 오늘의 예약_J -->
<select id="getList" resultType="BookingVO">
	SELECT B.BOOKING_NO,
		   B.PT_NO,
		   B.DOC_NO,
		   B.BOOKING_DATE,
		   B.PRICE,
		   B.PAY_STATUS,
		   B.CONSULT_DATE,
		   B.CONSULT_TIME,
		   M.NAME
	FROM BOOKING B JOIN MEMBER M
	ON B.PT_NO=M.MEMBER_NO
	WHERE B.CONSULT_DATE=TO_DATE(SYSDATE)
</select>

<!-- 닥터 대쉬보드 메인 페이지 진료내역_J -->
<select id="getlatestapptList" resultType="BookingVO">
	<![CDATA[
	SELECT B.BOOKING_NO,
		   B.PT_NO,
		   B.DOC_NO,
		   B.BOOKING_DATE,
		   B.PRICE,
		   B.PAY_STATUS,
		   B.CONSULT_DATE,
		   B.CONSULT_TIME,
		   M.NAME
    FROM BOOKING B JOIN MEMBER M
    ON B.PT_NO=M.MEMBER_NO
    WHERE ROWNUM < 6 AND CONSULT_DATE < TO_DATE(SYSDATE)
    ORDER BY CONSULT_DATE DESC
    ]]>
</select>

<!-- 닥터 대쉬보드 예약관리 페이지_J -->
<select id="apptList" resultType="BookingVO">
	<![CDATA[
	SELECT B.BOOKING_NO,
		   B.PT_NO,
		   B.DOC_NO,
		   B.BOOKING_DATE,
		   B.PRICE,
		   B.PAY_STATUS,
		   B.BOOKING_STATUS,
		   B.CONSULT_DATE,
		   B.CONSULT_TIME,
		   M.NAME
	FROM BOOKING B JOIN MEMBER M
	ON B.PT_NO=M.MEMBER_NO
    WHERE B.CONSULT_DATE>=TO_DATE(SYSDATE)
	ORDER BY CONSULT_DATE ASC, CONSULT_TIME ASC
	]]>
</select>


<select id="apptHistoryList" resultType="BookingVO">
	<![CDATA[
	SELECT B.BOOKING_NO,
		   B.PT_NO,
		   B.DOC_NO,
		   B.BOOKING_DATE,
		   B.PRICE,
		   B.PAY_STATUS,
		   B.BOOKING_STATUS,
		   B.CONSULT_DATE,
		   B.CONSULT_TIME,
		   M.NAME
	FROM BOOKING B JOIN MEMBER M
	ON B.PT_NO=M.MEMBER_NO
    WHERE B.CONSULT_DATE<TO_DATE(SYSDATE) AND BOOKING_STATUS = 'y'
	ORDER BY CONSULT_DATE DESC, CONSULT_TIME ASC
	]]>
</select>


<!-- s:0929 진료시간중 10초마다 진료경로 검색 -->
<select id="getRoomId" resultType="BookingVO">
	SELECT BOOKING_NO, ROOM_ID, PT_NO, CONSULT_TIME
	FROM BOOKING
	WHERE PAY_STATUS='y' AND BOOKING_STATUS='y' AND TO_CHAR(CONSULT_DATE, 'YYYY-MM-dd') = TO_CHAR(sysdate, 'YYYY-MM-dd') AND ROOM_ID IS NOT NULL
</select>

<!-- s:1003 단일예약정보 조회: 노드에서 요청 -->
<select id="getBookingInfo" resultType="BookingVO">
	SELECT 
		a.BOOKING_NO,
		a.PT_NO,
		a.CONSULT_DATE,
		a.CONSULT_TIME,
		b.NAME
	FROM BOOKING a JOIN MEMBER b
	ON (a.PT_NO = b.MEMBER_NO)
	WHERE a.BOOKING_NO=#{bookingNo}
</select>


</mapper>