<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.comments.mapper.CommentsMapper">
	<select id="read" resultType="com.mima.app.comments.domain.CommentsVO">
	SELECT * 
	FROM COMMENTS 
	WHERE CNO =#{cno}
	</select>
	
	<select id="getNickname" resultType="String">
	SELECT NICKNAME FROM MEMBER WHERE MEMBER_NO = #{commentWriterNo}
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="cno" resultType="int" order="BEFORE">
			SELECT SEQ_COMMENTS.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO COMMENTS (
				CMAIN_CATEGORY,
				CMAIN_NO,
				COMMENT_WRITER_NO,
				CONTENTS,
				REVIEW_POINT,
				REG_DATE,
				CNO
	) values(
				#{cmainCategory},
				#{cmainNo}, 
				#{commentWriterNo}, 
				#{contents}, 
				#{reviewPoint}, 
				sysdate, 
				#{cno}
	)
	</insert>

	<delete id="delete">
		DELETE FROM COMMENTS
		WHERE CNO=#{cno}
	</delete>

	<update id="update">
		UPDATE COMMENTS
			SET CONTENTS=#{contents},
				EDIT_DATE=sysdate
			WHERE CNO=#{cno}
	</update>

	<!-- 한 명상글에 달린 댓글 리스트 -->
	<select id="getList" resultType="CommentsVO">
		select CMAIN_CATEGORY,
				a.CMAIN_NO,
				a.COMMENT_WRITER_NO,
				a.CONTENTS,
				a.REVIEW_POINT,
				a.REG_DATE,
				a.EDIT_DATE,
				a.CNO,
                b.NICKNAME
			from (
				SELECT /* + INDEX(COMMENTS, IDX_COMMENTS) */
							ROWNUM RN, CMAIN_CATEGORY, CMAIN_NO, 
							COMMENT_WRITER_NO, CONTENTS, REVIEW_POINT,
							REG_DATE, EDIT_DATE, CNO
							FROM COMMENTS
							WHERE CMAIN_CATEGORY =  #{cmainCategory} AND CMAIN_NO = #{cmainNo}
								AND CNO >0
								<![CDATA[ AND ROWNUM <= #{cri.pageNum} * #{cri.amount}]]>
								) a JOIN MEMBER b
                                ON (b.MEMBER_NO = a.COMMENT_WRITER_NO)
								WHERE RN > (#{cri.pageNum}-1) *#{cri.amount}
			
	
	</select>

	<!-- 한 명상글에 달린 댓글 숫자 -->
	<select id="getCountByMeditNo" resultType="int">
		SELECT COUNT(*) 
		FROM COMMENTS 
		WHERE CMAIN_CATEGORY=#{cmainCategory} 
		AND CMAIN_NO =#{cmainNo}
	</select>
	
	<!-- 닥터 대쉬보드 메인 페이지 나의 후기 -->
	<select id="getlatestreviewList" resultType="CommentsVO">
		<![CDATA[
		SELECT C.CMAIN_NO,
               C.CONTENTS,
               C.REVIEW_POINT,
               C.REG_DATE,
               M.NICKNAME
        FROM COMMENTS C JOIN MEMBER M
        ON C.COMMENT_WRITER_NO = M.MEMBER_NO
        WHERE ROWNUM < 6
        AND CMAIN_NO = #{memberNo}
        ORDER BY C.REG_DATE DESC
		]]>
	</select>
	
	<!-- 닥터 대쉬보드 나의 후기 페이지_J29-->
	<select id="docReview" resultType="CommentsVO">
		<![CDATA[
		SELECT C.CMAIN_NO,
               C.CONTENTS,
               C.REVIEW_POINT,
               C.REG_DATE,
               M.NICKNAME
        FROM COMMENTS C JOIN MEMBER M
        ON C.COMMENT_WRITER_NO = M.MEMBER_NO
        AND C.CMAIN_NO = #{memberNo}
        ORDER BY C.REG_DATE DESC
		]]>
	</select>
	
	<!-- 닥터 대쉬보드 메인 페이지 나의 후기 카운트_J07 -->
	<select id="countDocReview" resultType="int">
		SELECT COUNT(CNO)
        FROM COMMENTS
        WHERE CMAIN_NO = #{memberNo}
	</select>
	
	<!-- trim 한 것 따로 빼 낸것... -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<!-- 콜렉션에 소문자시작 typeArr 써주면 자동으로 getMathod를 불러주는거임 -->
				<trim prefix="or">
					<choose>
						<when test="type == 'T'.toString()">
							TITLE LIKE '%'|| #{keyword} || '%'
						</when>

						<when test="type =='C'.toString()">
							CONTENT LIKE '%'|| #{keyword} || '%'
						</when>

						<when test="type =='W'.toString()">
							WRITER LIKE '%'|| #{keyword} || '%'
						</when>
						<when test="type =='delivery'.toString()">
							DELIVERT_AREA LIKE '%'|| #{keyword} || '%'
						</when>
						
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<sql id="criteriaDocReview">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="#{cri.typeArr}" item="type">
				<!-- 콜렉션에 소문자시작 typeArr 써주면 자동으로 getMathod를 불러주는거임 -->
				<trim prefix="or">
					<choose>
						<when test="type == 'T'.toString()">
							TITLE LIKE '%'|| #{cri.keyword} || '%'
						</when>

						<when test="type =='C'.toString()">
							CONTENT LIKE '%'|| #{cri.keyword} || '%'
						</when>

						<when test="type =='W'.toString()">
							WRITER LIKE '%'|| #{cri.keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- total count -->
	<!-- 닥터 대쉬보드 나의 후기 페이지 페이징_J13-->
	<select id="docReviewCount" resultType="int">
		SELECT COUNT(*) FROM COMMENTS
		WHERE
		<include refid="criteriaDocReview"></include>
		CMAIN_NO = #{memberNo}
	</select>

	<!-- 닥터 대쉬보드 나의 후기 페이지 최신순 페이징_J13-->
	<select id="docReviewPage" resultType="CommentsVO">
		SELECT *
		FROM( SELECT /*+INDEX_DESC(COMMENTS COMMENTS_PK) */
					 ROWNUM RN,
					 C.CMAIN_CATEGORY,
					 C.CMAIN_NO,
					 C.COMMENT_WRITER_NO,
					 C.CONTENTS,
					 C.REVIEW_POINT,
					 C.REG_DATE,
					 C.EDIT_DATE,
					 C.CNO,
                     M.NICKNAME
				FROM COMMENTS C JOIN MEMBER M
				ON C.COMMENT_WRITER_NO = M.MEMBER_NO
				WHERE <include refid="criteriaDocReview"></include>
						<![CDATA[
						ROWNUM <= #{cri.pageNum} * #{cri.amount}
				AND C.CMAIN_NO = #{memberNo}
				ORDER BY C.REG_DATE DESC )
		WHERE RN > (#{cri.pageNum}-1)* #{cri.amount} ]]>
	</select>
	
	<!-- 닥터 대쉬보드 나의 후기 페이지 오래된순 페이징_J13-->
	<select id="docReviewPageOldest" resultType="CommentsVO">
		SELECT *
		FROM( SELECT /*+INDEX_DESC(COMMENTS COMMENTS_PK) */
					 ROWNUM RN,
					 C.CMAIN_CATEGORY,
					 C.CMAIN_NO,
					 C.COMMENT_WRITER_NO,
					 C.CONTENTS,
					 C.REVIEW_POINT,
					 C.REG_DATE,
					 C.EDIT_DATE,
					 C.CNO,
                     M.NICKNAME
				FROM COMMENTS C JOIN MEMBER M
				ON C.COMMENT_WRITER_NO = M.MEMBER_NO
				WHERE <include refid="criteriaDocReview"></include>
						<![CDATA[
						ROWNUM <= #{cri.pageNum} * #{cri.amount}
				AND C.CMAIN_NO = #{memberNo}
				ORDER BY C.REG_DATE )
		WHERE RN > (#{cri.pageNum}-1)* #{cri.amount} ]]>
	</select>
	<!-- 페이징 end -->
	
	
	<!-- K. 10/14 약국 후기 조회-->
	<select id="phaReviewList" resultType="CommentsVO">
		SELECT C.*, 
			   M.NICKNAME,
			   M.GENDER
		FROM COMMENTS C , MEMBER M
		WHERE C.COMMENT_WRITER_NO = M.MEMBER_NO
		AND C.CMAIN_CATEGORY = 'pha'
		AND C.CMAIN_NO = #{cmainNo}
		ORDER BY CNO DESC
	</select>

</mapper>