<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.session.mapper.ConsultationMapper">

<select id="getPtInformation" resultType="com.mima.app.session.domain.PtInfoVO">
	select 
	    a.MEMBER_NO,
		 a.NAME,
		 a.IDENTIFY_NO,
		 a.GENDER,
		 a.ADDR1,
		 a.EMAIL,
		 a.PHONE,
		b.PAST_HX,
		b.PRE_SELF_AX,
		b.TOPIC,
		b.MED_DELIVERY
	from member a join patients b
	on (a.member_no = b.member_no)
	where a.member_no =(select pt_no from booking where booking_no=#{bookingNo})
</select>

<insert id="consultInsert">
INSERT INTO CONSULTATION(
    CONSULT_DATE,
    PT_ASSESSMENT,
    PT_DIAGNOSIS,
    BOOKING_NO,
    PT_NO,
    DOC_NO
    ) values(
      sysdate,
      #{ptAssessment},
      #{ptDiagnosis},
      #{bookingNo},
      #{ptNo},
      #{docNo}
    )
</insert>

</mapper>