<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.doc.mapper.DocAvailabilityMapper">
	<!-- 의사 진료 시간 출력 p.10/04 -->
	<select id="selectDocTime" resultType="string">
		SELECT ${day} 
		FROM DOC_AVAILABILITY
		WHERE DOC_NO = #{docNo}
	</select>
	
	<!-- s:1005 진료 가능 시간 요일 입력 --> 
	<insert id="insert">
		insert into doc_availability
			(
				DOC_NO,
				MON,
				TUE,
				WED,
				THU,
				FRI,
				SAT,
				SUN,
				REG_DATE
			)
		values(
			#{docNo},
			#{mon},
			#{tue},
			#{wed},
			#{thu},
			#{fri},
			#{sat},
			#{sun},
			sysdate
			)
	</insert>
	
</mapper>