<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.member.mapper.ExperienceMapper">

	<insert id="insertExp">
	INSERT INTO EXPERIENCE(
			EXP_NO,
			TITLE,
			DETAIL,
			FROM_DATE,
			TO_DATE,
			MEMBER_NO,
			REG_DATE
			)
	VALUES(
		SEQ_EXPERIENCE.NEXTVAL,
		#{title},
		#{detail},
		#{fromDate},
		#{toDate},
		#{memberNo},
		SYSDATE
	)
	
	</insert>

	<select id="getExpList" resultType="ExperienceVO">
		SELECT * FROM EXPERIENCE
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!-- s:1020 의사 프로필 경력 입력 -->
	<insert id="insertExpAjax">
	INSERT INTO EXPERIENCE (
			EXP_NO,
			TITLE,
			DETAIL,
			FROM_DATE,
			TO_DATE,
			MEMBER_NO
			)
	VALUES(
	SEQ_EXPERIENCE.NEXTVAL,
		#{title},
		#{detail},
		#{fromDate},
		#{toDate},
		#{memberNo}
		)
	</insert>
	
	<!-- s:1020 의사 프로필경력 수정 -->
	<update id="updateExpAjax">
		UPDATE EXPERIENCE
		 	SET 
				TITLE=#{title},
				DETAIL=#{detail},
				FROM_DATE=#{fromDate},
				TO_DATE=#{toDate},
				MEMBER_NO=#{memberNo}
			where			
				EXP_NO=#{title}
	</update>
	
	<delete id="deleteExp">
	DELETE FROM EXPERIENCE WHERE EXP_NO=#{expNo} 
	</delete>

</mapper>