<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.likes.mapper.LikesMapper">

	<select id="postLikesRead" resultType="likesVO">
		SELECT *
		FROM LIKES
		WHERE LIKE_MAIN_NO = #{likeMainNo}
		AND MEMBER_NO = #{memberNo}
		AND CATEGORY = #{category}
	</select>

	<insert id="postLikeinsert">
		INSERT INTO LIKES(
		MEMBER_NO,
		LIKE_DATE,
		CATEGORY,
		LIKE_MAIN_NO
		)
		VALUES(
		#{memberNo},
		SYSDATE,
		#{category},
		#{likeMainNo}
		)
	</insert>

	<delete id="postLikedelete">
		DELETE FROM LIKES
		WHERE CATEGORY = #{category}
		AND LIKE_MAIN_NO = #{likeMainNo}
		AND MEMBER_NO = #{memberNo}
	</delete>

	<!-- 공용사용 -->
	
	<insert id="likeInsert">
		INSERT INTO LIKES(
		MEMBER_NO,
		LIKE_DATE,
		CATEGORY,
		LIKE_MAIN_NO
		)
		VALUES(
		#{memberNo},
		SYSDATE,
		#{category},
		#{likeMainNo}
		)
	</insert>

	<delete id="likeDelete">
		DELETE FROM LIKES
		WHERE CATEGORY = #{category}
		AND LIKE_MAIN_NO = #{likeMainNo}
		AND MEMBER_NO = #{memberNo}
	</delete>

</mapper>