<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.pharmacy.mapper.MedDeliveryMapper">

<select id="selectOne" resultType="medDeliveryVO">
	SELECT * FROM MED_DELIVERY
	WHERE BOOKING_NO = #{bookingNo}
</select>

<!-- 환자의 약배달 신청 등록 -->
<insert id="deliveryInsert">
	INSERT INTO MED_DELIVERY( 
			MED_DELIVERY_NO, 
			PHARMACY_NO, 
			BOOKING_NO, 
			DELIVERY_STATUS, 
			PT_DELIVERY_AREA,
			PT_DELIVERY_AREA2,
			PT_DELIVERY_AREA3,
			PT_NOTE,
			PT_POSTCODE
	) VALUES(
			SEQ_MED_DELIVERY.NEXTVAL, 
			#{pharmacyNo},
			#{bookingNo},
			'A',
			#{ptDeliveryArea},
			#{ptDeliveryArea2, jdbcType=VARCHAR },
			#{ptDeliveryArea3, jdbcType=VARCHAR },
			#{ptNote, jdbcType=VARCHAR},
			#{ptPostcode}
	)
</insert>

<!-- 환자의 의사 약배달 신청전 약배달 내용 변경 -->
<update id="ptDeliveryUpdate">
	update med_delivery set 
			pharmacy_no=#{pharmacyNo}, 
			pt_delivery_area = #{ptDeliveryArea}, 
			pt_delivery_area2 = #{ptDeliveryArea2, jdbcType=VARCHAR },
			pt_delivery_area3 = #{ptDeliveryArea3, jdbcType=VARCHAR },
			pt_postcode = #{ptPostcode},
			pt_note = #{ptNote, jdbcType=VARCHAR} 
	where booking_no = #{bookingNo};
	
</update>


</mapper>