<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.pharmacy.mapper.MedDeliveryMapper">

<sql id="criteria">
	<trim prefix="AND(" suffix=")" prefixOverrides="OR">
		<foreach collection="cri.typeArr" item="type">
			<!-- 콜렉션에 소문자시작 typeArr 써주면 자동으로 getMathod를 불러주는거임 -->
			<trim prefix="or">
				<choose>
					<when test="cri.type == 'N'.toString()">
						NAME LIKE '%'|| #{cri.keyword} || '%'
					</when>
				</choose>
			</trim>
		</foreach>
	</trim>
</sql>


<!-- 복약지도 -->
<select id="ptEducation" resultType="memDeliveryVO">
	SELECT *
	FROM (
	        SELECT /*+INDEX_DESC(MED_DELIVERY MED_DELIVERY_PK)  */
	        ROWNUM RN, M.PT_EDUCATION, M.DELIVERY_STATUS, M.PHARMACY_NO, 
	                MM.NAME,MM.PHONE, M.BOOKING_NO, B.CONSULT_DATE , 
	                P.DEL_ADDR, P.DEL_ADDR2, P.DEL_ADDR3, P.DEL_POST_CODE
	        FROM MED_DELIVERY M, BOOKING B, PATIENTS P, MEMBER MM
	        WHERE B.BOOKING_NO = M.BOOKING_NO
	        AND B.PT_NO = P.MEMBER_NO
	        AND P.MEMBER_NO = MM.MEMBER_NO
	        AND M.PHARMACY_NO = #{pharmacyNo}
	        AND M.DELIVERY_STATUS = 'p'
	        AND M.PT_EDUCATION = 'n'
	        <include refid="criteria"></include>
	        <![CDATA[
	        and ROWNUM <= #{cri.pageNum} * #{cri.amount}
	     )
	where RN > (#{cri.pageNum}-1)* #{cri.amount} ]]>
</select>

<!-- k. 10/14 복약지도 수 -->
<select id="ptEducationCnt" resultType="int">
	SELECT  COUNT(*)
	FROM MED_DELIVERY M, BOOKING B, PATIENTS P, MEMBER MM
	WHERE B.BOOKING_NO = M.BOOKING_NO
	AND B.PT_NO = P.MEMBER_NO
	AND P.MEMBER_NO = MM.MEMBER_NO
	AND M.PHARMACY_NO = #{pharmacyNo}
	AND M.DELIVERY_STATUS = 'p'
	AND M.PT_EDUCATION = 'n'
</select>

<!-- k. 10/14 오늘의 배달수 -->
<select id="deliveryCnt" resultType="int">
	SELECT COUNT(*)
	FROM MED_DELIVERY M, BOOKING B, PATIENTS P, MEMBER MM
	WHERE B.BOOKING_NO = M.BOOKING_NO
	AND B.PT_NO = P.MEMBER_NO
	AND P.MEMBER_NO = MM.MEMBER_NO
	AND M.PHARMACY_NO = #{pharmacyNo}
	AND M.DELIVERY_STATUS = 'n'
	AND B.CONSULT_DATE = TO_DATE(SYSDATE, 'YY-MM-DD')
</select>

<!-- 오늘의 배달건수 -->
<select id="todayDelivery" resultType="memDeliveryVO">

	SELECT M.PHARMACY_NO, MM.NAME, M.BOOKING_NO, B.CONSULT_DATE , M.PRESCRIPTION, P.DEL_ADDR, P.DEL_ADDR2, P.DEL_ADDR3,P.DEL_POST_CODE , P.DEL_NOTE  
	FROM MED_DELIVERY M, BOOKING B, PATIENTS P, MEMBER MM
	WHERE B.BOOKING_NO = M.BOOKING_NO
	AND B.PT_NO = P.MEMBER_NO
	AND P.MEMBER_NO = MM.MEMBER_NO
	AND M.PHARMACY_NO = #{pharmacyNo}
	AND M.DELIVERY_STATUS = 'n'
	AND B.CONSULT_DATE = TO_DATE(SYSDATE, 'YY-MM-DD')
	
</select>

<!-- 한건 조회 -->
<select id="selectOne" resultType="medDeliveryVO">
	SELECT * FROM MED_DELIVERY
	WHERE BOOKING_NO = #{bookingNo}
</select>

<!-- 예약번호로 취소건 조회 -->
<select id="delCancelReason" resultType="MedDeliveryVO">
	SELECT MD.*, PH.PHARMACY_INFO "PHARMACY_NAME"
	FROM MED_DELIVERY MD, PARTNER_PHARMACY PH
	WHERE MD.PHARMACY_NO = PH.MEMBER_NO
	AND MD.BOOKING_NO = #{bookingNo}
</select>

<!--K.10/16 약배달 현황목록 -->
<select id="phaSelectOne" resultType="medDeliveryVO">
	SELECT M.*, MM.NAME, B.CONSULT_DATE
	FROM MED_DELIVERY M ,BOOKING B, MEMBER MM
	WHERE M.BOOKING_NO = B.BOOKING_NO
	AND B.PT_NO = MM.MEMBER_NO
	AND PHARMACY_NO = #{pharmacyNo}
</select>

<!-- 배달 완료 -->
<select id="phaCompleteDel" resultType="medDeliveryVO">
	SELECT M.*, MM.NAME, B.CONSULT_DATE
	FROM MED_DELIVERY M ,BOOKING B, MEMBER MM
	WHERE M.BOOKING_NO = B.BOOKING_NO
	AND B.PT_NO = MM.MEMBER_NO
	AND PHARMACY_NO = #{pharmacyNo}
    and m.delivery_status = 'p'
    and m.pt_education = 'y'
</select>

<!-- 약배달 등록 / 취소 -->
<select id="memDelivery" resultType="memDeliveryVO">
	SELECT *
	FROM (
	            SELECT ROWNUM RN,  
	                    M.PHARMACY_NO, 
	                    MM.NAME, 
	                    M.BOOKING_NO, 
	                    B.CONSULT_DATE , 
	                    M.PRESCRIPTION, 
	                    P.DEL_ADDR, 
	                    P.DEL_ADDR2, 
	                    P.DEL_ADDR3,
	                    P.DEL_POST_CODE, 
	                    P.DEL_NOTE  
	            FROM MED_DELIVERY M, BOOKING B, PATIENTS P, MEMBER MM
	            WHERE B.BOOKING_NO = M.BOOKING_NO
	            AND B.PT_NO = P.MEMBER_NO
	            AND P.MEMBER_NO = MM.MEMBER_NO
	            AND M.PHARMACY_NO = #{pharmacyNo}
	            AND M.DELIVERY_STATUS = 'n'
	            <include refid="criteria"></include>
	            <![CDATA[
	            AND B.CONSULT_DATE <= TO_DATE(SYSDATE, 'YY/MM/DD') 
	            and ROWNUM #{cri.pageNum} * #{cri.amount}
		     )
	where RN > (#{cri.pageNum}-1)* #{cri.amount}	 ]]>
</select>

<!-- 약배달등록/취소 총 갯수 -->
<select id="memDeliveryCount" resultType="int">
	SELECT count(*)
            FROM MED_DELIVERY M, BOOKING B, PATIENTS P, MEMBER MM
            WHERE B.BOOKING_NO = M.BOOKING_NO
            AND B.PT_NO = P.MEMBER_NO
            AND P.MEMBER_NO = MM.MEMBER_NO
            AND M.PHARMACY_NO = #{pharmacyNo}
            AND M.DELIVERY_STATUS = 'n'
            <![CDATA[ AND B.CONSULT_DATE <= TO_DATE(SYSDATE, 'YY/MM/DD')  ]]>
</select>

<!-- 배달 상태변경 -->
<update id="deliveryStatusUpdate">
	UPDATE MED_DELIVERY
		SET DELIVERY_STATUS = #{deliveryStatus} 
	WHERE BOOKING_NO = #{bookingNo}
</update>

<!-- 약배달 수령 후 상태변경 -->
<update id="delcompleteUpdate">
	UPDATE MED_DELIVERY
		SET DELIVERY_STATUS = #{deliveryStatus},
			PT_EDUCATION = 'n'
	WHERE BOOKING_NO = #{bookingNo}
</update>

<!-- 복약지도 완료 상태 변경 -->
<update id="ptEduStatusUpdate">
	UPDATE MED_DELIVERY
		SET PT_EDUCATION = 'y'
	WHERE BOOKING_NO = #{bookingNo}
</update>

<!-- 취소이유 등록 -->
<update id="delCancel">
	UPDATE MED_DELIVERY
	SET DELIVERY_DECLINE = #{deliveryDecline},
	DELIVERY_STATUS = 'c'
	WHERE BOOKING_NO = #{bookingNo}
</update>

<!-- K.10/19 약배달 재신청 -->
<update id="delReapply">
	UPDATE MED_DELIVERY
	SET PHARMACY_NO = #{pharmacyNo}, 
		DELIVERY_DECLINE = NULL , 
		DELIVERY_STATUS = 'n'
	WHERE BOOKING_NO = #{bookingNo}
</update>


</mapper>