<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.pharmacy.mapper.MedDeliveryMapper">

<insert id="deliveryInsert">
	INSERT INTO MED_DELIVERY( 
			MED_DELIVERY_NO, 
			PHARMACY_NO, 
			BOOKING_NO, 
			DELIVERY_STATUS, 
			PT_DELIVERY_AREA
	) VALUES(
			SEQ_MED_DELIVERY.NEXTVAL, 
			#{pharmacyNo},
			#{bookingNo},
			'A',
			#{ptDeliveryArea} 
	)
</insert>


</mapper>