<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.meditation.mapper.MeditationMapper">
	<select id="getMeditationList" resultType="com.mima.app.meditation.domain.MeditationVO">
	select * from meditation
	</select>
</mapper>