<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.member.mapper.MemberMapper">
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id="nickNameCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE NICKNAME = #{nickname}
	</select>
	
	<!-- 회원가입 -->
	<insert id="memberInsert">
		<selectKey keyProperty="memberNo" resultType="int"
				order="BEFORE">
			SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MEMBER
			(MEMBER_NO,
			 MEMBER_ID,
			 PASSWORD,
			 NICKNAME,
			 ROLE,
			 NAME,
			 IDENTIFY_NO,
			 GENDER,
			 ADDRESS,
			 EMAIL,
			 PHONE,
			 STATUS,
			 PT_PROFILE_PHOTO)
		VALUES 
			(#{memberNo},
			 #{memberId},
			 #{password},
			 #{nickname},
			 #{role},
			 #{name},
			 #{identifyNo},
			 #{gender},
			 #{address},
			 #{email},
			 #{phone},
			 #{status},
			 #{ptProfilePhoto})
	</insert>
	
	<!-- 어드민 약국 의사 승인 쿼리 -->
	<select id="patnerStatusSelect" resultType="memberVO">
		SELECT * FROM MEMBER
		WHERE STATUS = 'n' 
		AND ( ROLE = 'doctor' OR ROLE = 'pharmacy')
	</select>
	
	<!--어드민 약국 의사 등록 쿼리 -->
	<update id="patnerStatusUpdate" >
		UPDATE MEMBER SET STATUS='y' WHERE STATUS='n'
	</update>
	
	
</mapper>