<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.member.mapper.MemberMapper">
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id="nickNameCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE NICKNAME = #{nickname}
	</select>
	
	<!-- License 체크 -->
	<select id="licenseCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE LICENSE = #{license}
	</select>
	
	<!-- 로그인 -->
	<select id="memberLogin" resultType="MemberVO">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND PASSWORD = #{password}
		AND STATUS = 'y'
	</select>
	
	<!-- 아이디 찾기 p-30 -->
	<select id="findMemberId" resultType="string"> 
		SELECT MEMBER_ID 
		FROM MEMBER
		WHERE NAME = #{name}
		AND PHONE = #{phone}
		AND STATUS = 'y'
	</select>
	
	<!-- 아이디 이메일로 초기화 유무 묻기 p-29 -->
	<select id="findPassword" resultType="int"> 
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND EMAIL = #{email}
	</select>
	
	<!-- 회원 세션 유지를 위한 한건 조회 p.30 -->
	<select id="getUserById" parameterType="String" resultType="MemberVO">
		SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId} AND STATUS='y'
	</select>
	
	<!-- 승인된 의사 조회 p.10/04 -->
	<select id="selectDoctorY" resultType="MemberVO">
		SELECT MEMBER_NO, NAME 
		FROM MEMBER 
		WHERE ROLE = 'doctor' 
		AND STATUS = 'y'
	</select>
	
	<!-- 회원가입 -->
	<insert id="memberInsert">
		<selectKey keyProperty="memberNo" resultType="int"
				order="BEFORE">
			SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MEMBER
			(MEMBER_NO,
			 MEMBER_ID,
			 PASSWORD,
			 NICKNAME,
			 ROLE,
			 NAME,
			 IDENTIFY_NO,
			 GENDER,
			 POSTCODE,
			 ADDR1,
			 ADDR2,
			 ADDR3,
			 EMAIL,
			 PHONE,
			 STATUS,
			 PT_PROFILE_PHOTO,
			 DELIVERY_STATUS)
		VALUES 
			(#{memberNo},
			 #{memberId},
			 #{password},
			 #{nickname},
			 #{role},
			 #{name},
			 #{identifyNo},
			 #{gender},
			 #{postcode},
			 #{addr1},
			 #{addr2},
			 #{addr3},
			 #{email},
			 #{phone},
			 #{status},
			 #{ptProfilePhoto},
			 #{deliveryStatus})
	</insert>
	
	<!-- 환자 회원가입 수정 p.10/10 -->
	<insert id="partnerMemberInsert">
		<selectKey keyProperty="memberNo" resultType="int"
				order="BEFORE">
			SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MEMBER
			(MEMBER_NO,
			 MEMBER_ID,
			 PASSWORD,
			 NICKNAME,
			 ROLE,
			 NAME,
			 IDENTIFY_NO,
			 GENDER,
			 POSTCODE,
			 ADDR1,
			 ADDR2,
			 ADDR3,
			 EMAIL,
			 PHONE,
			 LICENSE,
			 STATUS)
		VALUES
			(#{memberNo},
			 #{memberId},
			 #{password},
			 #{nickname},
			 #{role},
			 #{name},
			 #{identifyNo},
			 #{gender},
			 #{postcode},
			 #{addr1},
			 #{addr2},
			 #{addr3},
			 #{email},
			 #{phone},
			 #{license},
			 #{status})
	</insert>
	
	<!-- e. 29 -->
	<!-- 관리자 약국 의사 승인 유무 쿼리 -->
	<select id="patnerStatusSelect" resultType="memberVO">
		SELECT * FROM MEMBER
		WHERE STATUS = 'n' 
		AND ( ROLE = 'doctor' OR ROLE = 'pharmacy')
	</select>
	
	<!-- e. 29 -->
	<!--관리자 약국 의사 등록 쿼리 -->
	<update id="patnerStatusUpdate">
		UPDATE MEMBER 
		SET STATUS='y' 
		WHERE LICENSE = #{license}
		AND STATUS='n'
	</update>
	
	<!-- 비밀번호 초기화 시 멤버 테이블 업데이트 p.30 -->
	<update id="passwordResetUpdate">
		UPDATE MEMBER
		SET PASSWORD = #{password}
		WHERE MEMBER_id = #{memberId}
		AND EMAIL = #{email}
	</update>
	
	<!-- 닥터 대쉬보드 비밀번호 변경_J04 -->
	<update id="docPwChange">
		UPDATE MEMBER
		SET PASSWORD = #{password}
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	
	<!-- 환자 대쉬보드 비밀번호 변경 e.11  -->
	<update id="ptPwChange">
		UPDATE MEMBER
		SET PASSWORD = #{password}
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<!-- 닥터 대쉬보드 나의 환자들 조회_J06 -->
	<select id="patientList">
		<![CDATA[
		select distinct m.name,
		        m.phone,
		        b.consult_date,
		        b.consult_time,
		        b.doc_no
		from member m join booking b
		on m.member_no = b.pt_no
		where b.doc_no=#{memberNo}
	   ]]>
	</select>
	
	<!-- 닥터 진료내역 페이지 선택한 환자의 진료노트 조회_J10 -->
	<select id="getCnote" resultType="PtInfoVO">
		SELECT M.NAME,
		       M.IDENTIFY_NO,
		       M.GENDER,
		       M.PHONE,
		       M.ADDR1,
		       M.ADDR2,
		       M.ADDR3,
		       B.BOOKING_NO,
		       B.CONSULT_DATE,
		       B.CONSULT_TIME,
		       C.PT_DIAGNOSIS,
		       C.PT_ASSESSMENT,
		       P.PAST_HX
		FROM MEMBER M, BOOKING B, CONSULTATION C, PATIENTS P
		WHERE M.MEMBER_NO = B.PT_NO
		AND   B.BOOKING_NO = C.BOOKING_NO
		AND   C.PT_NO = P.MEMBER_NO
		AND B.BOOKING_NO = #{bookingNo}
	</select>
	
	<!-- K.10/11 약배달 신청 유무 변경 -->
	<update id="deliveryStatusUpdate">
		UPDATE MEMBER
		SET DELIVERY_STATUS = #{deliveryStatus} 
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- K.10/11 약배달 신청 유무 확인 -->
	<select id="deliveryStatus" resultType="String">
		SELECT DELIVERY_STATUS
		FROM MEMBER
		WHERE MEMBER_NO = #{memberNo}
	</select>
</mapper>