<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.member.mapper.MemberMapper">
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id="nickNameCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE NICKNAME = #{nickname}
	</select>
	
	<!-- License 체크 -->
	<select id="licenseCheck" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE LICENSE = #{license}
	</select>
	
	<!-- 로그인 -->
	<select id="memberLogin" resultType="MemberVO">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND PASSWORD = #{password}
		AND STATUS = 'y'
	</select>
	
	<!-- 아이디 찾기 p-29 -->
	<select id="findMemberId" resultType="string"> 
		SELECT MEMBER_ID 
		FROM MEMBER
		WHERE NAME = #{name}
		AND PHONE = #{phone}
	</select>
	
	<!-- 아이디 이메일로 초기화 유무 묻기 p-29 -->
	<select id="findPassword" resultType="int"> 
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
		AND EMAIL = #{email}
	</select>
	
	<!-- 회원가입 -->
	<insert id="memberInsert">
		<selectKey keyProperty="memberNo" resultType="int"
				order="BEFORE">
			SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MEMBER
			(MEMBER_NO,
			 MEMBER_ID,
			 PASSWORD,
			 NICKNAME,
			 ROLE,
			 NAME,
			 IDENTIFY_NO,
			 GENDER,
			 ADDRESS,
			 EMAIL,
			 PHONE,
			 STATUS,
			 PT_PROFILE_PHOTO)
		VALUES 
			(#{memberNo},
			 #{memberId},
			 #{password},
			 #{nickname},
			 #{role},
			 #{name},
			 #{identifyNo},
			 #{gender},
			 #{address},
			 #{email},
			 #{phone},
			 #{status},
			 #{ptProfilePhoto})
	</insert>
	
	<insert id="partnerMemberInsert">
		<selectKey keyProperty="memberNo" resultType="int"
				order="BEFORE">
			SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO MEMBER
			(MEMBER_NO,
			 MEMBER_ID,
			 PASSWORD,
			 NICKNAME,
			 ROLE,
			 NAME,
			 IDENTIFY_NO,
			 GENDER,
			 ADDRESS,
			 EMAIL,
			 PHONE,
			 LICENSE,
			 STATUS)
		VALUES
			(#{memberNo},
			 #{memberId},
			 #{password},
			 #{nickname},
			 #{role},
			 #{name},
			 #{identifyNo},
			 #{gender},
			 #{address},
			 #{email},
			 #{phone},
			 #{license},
			 #{status})
	</insert>

	<!-- e. 29 -->
	<!-- 관리자 약국 의사 승인 유무 쿼리 -->
	<select id="patnerStatusSelect" resultType="memberVO">
		SELECT * FROM MEMBER
		WHERE STATUS = 'n' 
		AND ( ROLE = 'doctor' OR ROLE = 'pharmacy')
	</select>
	
	<!-- e. 29 -->
	<!--관리자 약국 의사 등록 쿼리 -->
	<update id="patnerStatusUpdate">
		UPDATE MEMBER 
		SET STATUS='y' 
		WHERE LICENSE = #{license}
		AND STATUS='n'
	</update>

</mapper>