<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.doc.mapper.MentalSubjectMapper">
	
	<!-- s:1005 진료과목 가격입력 -->
	<insert id="insert">
	insert into mental_subject(
			DOC_NO,
			CATEGORY_1,
			PRICE_1,
			CATEGORY_2,
			PRICE_2,
			CATEGORY_3,
			PRICE_3
		)
		values(
			#{docNo},
			#{category1},
			#{price1},
			#{category2},
			#{price2},
			#{category3},
			#{price3}
		)
	</insert>
</mapper>