<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.doc.mapper.MentalSubjectMapper">
	
	<!-- s:1005 진료과목 가격입력 -->
	<insert id="insert">
	insert into mental_subject(
			DOC_NO,
			CATEGORY_1,
			PRICE_1,
			CATEGORY_2,
			PRICE_2,
			CATEGORY_3,
			PRICE_3
		)
		values(
			#{docNo},
			#{category1},
			#{price1},
			#{category2},
			#{price2},
			#{category3},
			#{price3}
		)
	</insert>
	
	
	<!-- s:1017 진료과목 update -->
	<update id="update">
	UPDATE MENTAL_SUBJECT
		SET
			CATEGORY_1=#{category1},
			PRICE_1=#{price1},
			CATEGORY_2=#{category2},
			PRICE_2=#{price2},
			CATEGORY_3=#{category3},
			PRICE_3=#{price3},
		WHERE DOC_NO=#{docNo}
	</update>
	
	
	<!-- 진료과목 금액 가져오기 p.10/07 -->
	<select id="getPriceCategory" resultType="MentalSubjectVO">
		SELECT CATEGORY_1,
			   PRICE_1,
			   CATEGORY_2,
			   PRICE_2,
			   CATEGORY_3,
			   PRICE_3
		FROM MENTAL_SUBJECT
		WHERE DOC_NO = #{docNo}
	</select>
	
	<!-- 의사 진료과목 가져오기 p.10/07 -->
	<select id="categorySelect" resultType="MentalSubjectVO">
		SELECT CATEGORY_1,
			   CATEGORY_2,
			   CATEGORY_3
		FROM MENTAL_SUBJECT
		WHERE DOC_NO = #{docNo}
	</select>
</mapper>