<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.pharmacy.mapper.PartnerPharmacyMapper">

	<!-- 약국 검색 K.10/07 -->
	<select id="pharmacySearch" resultType="PartnerPharmacyVO">
		SELECT 	MEMBER_NO,
				PROFILE_PHOTO,
				PROFILE_CONTENTS,
				PHARMACY_INFO,
				PHARMACY_CONTACT, 
				PHARMACY_EMAIL, 
				DELIVERY_AREA 
		FROM 	( 	SELECT /*+ INDEX_DESC(PARTNER_PHARMACY_PK) */
		                	ROWNUM RN, 
		                	MEMBER_NO,
		                	PROFILE_PHOTO, 
		                	PROFILE_CONTENTS,
		                	PHARMACY_INFO,
		                	PHARMACY_CONTACT, 
		                	PHARMACY_EMAIL, 
		                	DELIVERY_AREA 
                	FROM PARTNER_PHARMACY
	                <where> 
					<include refid="criteria"></include>
	              	</where>
	               	<![CDATA[ AND ROWNUM <= #{pageNum} * #{amount} ]]>
		)
		WHERE RN > (#{pageNum} - 1 ) * #{amount}
	</select>
	
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<!-- 콜렉션에 소문자시작 typeArr 써주면 자동으로 getMathod를 불러주는거임 -->
				<trim prefix="or">
					<choose>
						<when test="type =='pharmacy'.toString()">
							PHARMACY_INFO '%'|| #{keyword} || '%'
						</when>
						<when test="type =='delivery'.toString()">
							DELIVERY_AREA '%'|| #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	<!--[K]210929 약국 한건조회  -->
	<select id="selectOne" resultType="PartnerPharmacyVO">
		SELECT * FROM PARTNER_PHARMACY
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<update id="profileUpdate">
		UPDATE PARTNER_PHARMACY
			SET PROFILE_PHOTO = #{profilePhoto},
			PROFILE_CONTENTS = #{profileContents},
			PHARMACY_CONTACT = #{pharmacyContact},
			PHARMACY_EMAIL = #{pharmacyEmail},
			DELIVERY_AREA = #{deliveryArea},
			EDIT_DATE = SYSDATE
		WHERE MEMBER_NO = #{memberNo};
	</update>

</mapper>