<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.pharmacy.mapper.PartnerPharmacyMapper">

<!--[K]210929 약국 한건조회  -->
<select id="selectOne" resultType="PartnerPharmacyVO">
	SELECT * FROM PARTNER_PHARMACY
	WHERE MEMBER_NO = #{memberNo}
</select>

<update id="profileUpdate">
	UPDATE PARTNER_PHARMACY
		SET PROFILE_PHOTO = #{profilePhoto},
		PROFILE_CONTENTS = #{profileContents},
		PHARMACY_CONTACT = #{pharmacyContact},
		PHARMACY_EMAIL = #{pharmacyEmail},
		DELIVERY_AREA = #{deliveryArea},
		EDIT_DATE = SYSDATE
	WHERE MEMBER_NO = #{memberNo};
</update>

</mapper>