<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.member.mapper.PatientsMapper">


<!-- e.29 -->
<!-- 관리자 회원정보조회 -->
<select id="getList" resultType="PatientsVO"> 
	SELECT MEMBER_NO
			,PAST_HX
			,PRE_SELF_AX
			,TOPIC
			,MED_DELIVERY
			,REG_DATE
			,EDIT_DATE
	FROM PATIENTS
</select> 


<!-- s:1004 pt preScreening -->
	<update id="update">
	UPDATE PATIENTS
		SET
			PAST_HX =#{pastHx},
			SESSION_REASON=#{sessionReason},
			PRE_DIAGNOSIS=#{preDiagnosis},
			CURRENT_MEDS=#{currentMeds},
			MORE_INFO=#{moreInfo} 
		WHERE MEMBER_NO=#{memberNo}
	</update>

<!-- s:1004 pt preScreening Ax result 머리가 쓰기 귀찮아서 그냥 이렇게 해 놓습니다... -->
	<update id="updateAx">
	UPDATE PATIENTS
		SET
			PRE_SELF_AX=#{preSelfAx}
		WHERE MEMBER_NO=#{memberNo}
	</update>




</mapper>