<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.session.mapper.PaymentMapper">
	<!-- PAYMENT 테이블에 결제 결과 전달 p.10/09 -->
	<insert id="insertPayment"> 
		INSERT INTO PAYMENT 
			( PAY_ITEM,
			  PAY_METHOD,
			  PAY_RESULT,
			  PAY_AMOUNT,
			  PAY_CONFIRMNUM,
			  PAY_STATUS )
		VALUES
			( #{payItem},
			  #{payMethod},
			  #{payResult},
			  #{payAmount},
			  #{payConfirmnum},
			  'y')
	</insert>
</mapper>