<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.post.mapper.PostMapper">

	<select id="getList" resultType="postVO">
		SELECT post.*, (
			SELECT 1 FROM REPORT
			WHERE REPORT_MNO = #{reportMno}
			AND POST_NO = POST.POST_NO
		) REPORT_MNO,
	      (
	       SELECT 1 FROM LIKES
	         WHERE MEMBER_NO = #{reportMno}
	         AND LIKE_MAIN_NO = POST.POST_NO
	      ) LIKES_NO
		FROM POST
		ORDER BY POST_NO DESC
	</select>
	
	<select id="randomList" resultType="postVO">
		SELECT post.*, (
			SELECT 1 FROM REPORT
			WHERE REPORT_MNO = #{reportMno}
			AND POST_NO = POST.POST_NO
		) REPORT_MNO,
	      (
	       SELECT 1 FROM LIKES
	         WHERE MEMBER_NO = #{reportMno}
	         AND LIKE_MAIN_NO = POST.POST_NO
	      ) LIKES_NO
		FROM POST
		ORDER BY DBMS_RANDOM.RANDOM()
	</select>
	
	<insert id="insert">
		INSERT INTO POST(
						POST_NO,
						MEMBER_NO,
						POST_DATE,
						CONTENTS,
						POST_LIKE,
						POST_COLOR
		)
		VALUES(
				SEQ_POST.NEXTVAL,
				#{memberNo},
				SYSDATE,
				#{contents},
				0,
				#{postColor}				
		)
	</insert>

	<update id="updateLike">
		UPDATE POST SET 
			POST_LIKE= POST_LIKE + 1 
			WHERE POST_NO = #{postNo}
	</update>
	
	<update id="updateNotLike">
		UPDATE POST SET 
			POST_LIKE= POST_LIKE - 1 
			WHERE POST_NO = #{postNo}
	</update>

	<delete id="schedulerPost" >
		DELETE FROM POST WHERE POST_DATE = TO_DATE(SYSDATE -1,'YY/MM/DD');
	</delete>

</mapper>