<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mima.app.push.mapper.PushMapper">
	
	<!-- K. 10/16 약 배달 취소 알람 -->
	<insert id="delCancelAlarm">
		insert into push(
				push_no, 
				to_member_no, 
				user_member_no,
				type,
				content_id, 
				message, 
				push_date
				)
		values(
			SEQ_PUSH.nextval,
			#{toMemberNo},
			#{userMemberNo},
			#{type},
			#{contentId},
			#{message},
			SYSDATE
			)
		
	</insert>

</mapper>